.gridcardbg {
    background-color: #35116540;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}

.heading1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width:350px) {

    .herobtns{
        flex-direction: column;
        gap: 1rem;
    }
    
}

@media screen and (max-width: 576px) {
    .responsivenav {
        flex-direction: row;
        gap: 1rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    .nav-image{
        width: 150px;
    }

    .hero-podcast-bg{
        max-width: 200px;
        max-height: 200px;
    }

    .hero-podcast-image{
        max-width: 80px;
        max-height: 80px;
    }

    .mainheading{
        font-size: 40px;
    }

    .gridlayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 280px;
    }

    .gridcard1{
        grid-row: span 1;
        grid-column: span 2;

    }

    .gridcard5{
        grid-column: span 2;
    }

    .heading1{
        font-size: 35px;
    }

    .statistics-grid{
        grid-template-columns: 2fr 2fr;
    }

    .episode-grid{
        grid-template-columns: 1fr;

    }

    .hostresponsive{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hosticonsresponsive{
        justify-content: center;
    }

    .footericonsresponsive{
        flex-wrap: wrap;
        gap: 1rem;
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-image1{
        width: 200px;
    }
}